.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;

  height: calc(100vh - 40px);
  width: 240px; /* ALWAYS OPEN */

  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

  padding: 20px;
}

/* Logo */
.logo {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Menu items */
.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 14px;
  border-radius: 12px;

  text-decoration: none;
  font-size: 16px;

  color: #333;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background: #f2f6ff;
}

/* Active page */
.menu-item.active {
  background: #e8f0ff;
  font-weight: 500;
}

/* Icons */
.icon {
  font-size: 20px;
  color: #3b82f6;
}


.divider {
  height: 1px;
  background: #e5e7eb;
  margin: 12px 0 16px;
}
.logout {
  margin-top: auto;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #e74c3c;
  font-weight: 500;
}

.logout:hover {
  background-color: rgba(231, 76, 60, 0.1);
}
